<!DOCTYPE html>
<html lang="de">
  <head>
    <!-- Meta charset -->
    <meta charset="utf8">

    <!-- Title -->
    <title>Mauschine</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

    <!-- Relevant meta tags -->
    <meta name="author" content="Felix Klauke">
    <meta name="copyright" content="Felix Klauke">
    <meta name="description" content="Wenn Mau Reis isst, ist das dann Maurice?">
      <meta name="keywords" content="Mauschine, Mau, Zayuri, Mauschine Crew, Crew, Satire, Twitch">

      <!-- Open Graph -->
      <meta property="og:type" content="business.business">
      <meta property="og:title" content="Mauschine">
      <meta property="og:url" content="https://www.mauschine.de">
      <meta property="og:image" content="https://www.mauschine.de/images/logo.png">


      <!-- Viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Style sheet -->
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <!-- Font awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      var gaProperty = 'UA-131487381-1';
      var disableStr = 'ga-disable-' + gaProperty;
      if (document.cookie.indexOf(disableStr + '=true') > -1) {
        window[disableStr] = true;
      }
      function gaOptout() {
        document.cookie = disableStr + '=true; expires=Thu, 31 Dec 2099 23:59:59 UTC; path=/';
        window[disableStr] = true;
        alert('Das Tracking durch Google Analytics wurde in Ihrem Browser für diese Website deaktiviert.');
      }
    </script>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131487381-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131487381-1');
    </script>

    <!-- Cookie Consent -->
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
      window.addEventListener("load", function(){
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#edeff5",
              "text": "#838391"
            },
            "button": {
              "background": "#4b81e8"
            }
          },
          "theme": "edgeless",
          "position": "bottom-right",
          "content": {
            "message": "Diese Webseite benutzt Cookies um die Benutzererfahrung zu verbessern.",
            "dismiss": "Verstanden",
            "link": "Mehr erfahren",
            "href": "https://www.mauschine.de/legal/privacy"
          }
        })});
    </script>

  </head>
  <body>
    {% include 'include/header.twig' %}

    <main>
      {% block content %}
      {% endblock %}
    </main>

    {% include 'include/footer.twig' %}
  </body>
</html>
