<footer>

    <div class="container">
        <div class="footer-widgets">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Mauschine Crew</h3>

                    <p>Wir sind die mautastische Mauschine Crew und mausern uns gerne dazu, alles einzumauern, was wir finden.
                    Danke an Mau für die Bereitstellung der Bilder! &hearts;</p>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Die einzig wahre Mauschine</h3>

                    <ul>
                        <li><a href="https://www.twitch.tv/zayuri"><i class="fa fa-angle-right"></i> Twitch</a></li>
                        <li><a href="https://twitter.com/ZayuriCosplay"><i class="fa fa-angle-right"></i> Twitter</a></li>
                        <li><a href="https://www.youtube.com/user/MaureenCeline"><i class="fa fa-angle-right"></i> YouTube</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Weitere Links</h3>

                    <ul>
                        <li><a href="https://github.com/mauschine/mauschine.de">Webseite mitgestalten</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <h3>Rechtliches</h3>

                    <ul>
                        <li><a href="/legal/imprint"><i class="fa fa-angle-right"></i> Impressum</a></li>
                        <li><a href="/legal/privacy"><i class="fa fa-angle-right"></i> Datenschutz</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <p>Copyright &copy; 2018 Mauschine Crew | Alle Rechte vorberhalten.</p>
        </div>
    </div>

</footer>
