<header>

    <div class="container">

        <div class="navbar align-items-center">

            <div class="navbar-brand">
                <img src="/images/logo.png" alt="Logo">
            </div>

            <nav class="navbar-nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/jokes">Witze</a></li>
                    <li><a href="https://twitter.com/ZayuriCosplay">Community</a></li>
                    <li><a href="https://www.youtube.com/user/MaureenCeline">YouTube</a></li>
                </ul>
            </nav>

        </div>
    </div>

</header>
