<section id="join-crew">

    <div class="join-banner">
        <h2>Jetzt der Mauschine Redaktions Crew beitreten!</h2>
        <p>E-Mail mit Bewerbungen an: jobs@mauschine.de</p>
    </div>

</section>
