@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.2.1/css/bootstrap-grid.min.css');
@font-face {
  font-family: 'Charm';
  font-style: normal;
  font-weight: 400;
  src: local('Charm Regular'), local('Charm-Regular'), url(https://fonts.gstatic.com/s/charm/v3/7cHmv4oii5K0MdYoK-s.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v19/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
body a {
  text-decoration: none;
  color: #6a7e8e;
}
body .emote {
  max-height: 20px;
}
header {
  background-color: #f6f6f6;
}
header .navbar {
  display: flex;
  flex-direction: row;
  flex-basis: 100%;
}
header .navbar .navbar-brand {
  display: flex;
}
header .navbar .navbar-nav {
  margin-left: auto;
  display: flex;
}
header .navbar .navbar-nav ul {
  list-style: none;
}
header .navbar .navbar-nav ul li {
  font-size: 1.4rem;
  cursor: pointer;
  display: inline-block;
}
header .navbar .navbar-nav ul li:hover {
  background-color: #f6f6f6;
  transition: 0.4s;
}
header .navbar .navbar-nav ul li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 12px;
}
footer {
  padding: 60px 0;
  background-color: #292c2f;
  color: #f6f6f6;
}
footer .footer-widgets ul {
  list-style: none;
  padding: 0;
}
footer .footer-widgets ul li {
  display: block;
}
footer .footer-widgets ul li a {
  color: white;
}
footer .footer-widgets p {
  text-align: justify;
}
footer .footer-copyright {
  margin: 60px 0 0;
  text-align: center;
}
section {
  padding: 60px 0;
}
#youtube {
  padding: 10px 0 60px;
  background-color: whitesmoke;
}
#youtube h1 {
  margin-top: 0;
  text-align: center;
}
#youtube .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
#youtube .video-container iframe,
#youtube .video-container object,
#youtube .video-container embed {
  position: absolute;
  top: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
#welcome {
  background-color: #ffffff;
}
#welcome h1 {
  text-align: center;
}
#welcome .aspect {
  padding: 22px;
  text-align: center;
}
#welcome .aspect p {
  text-align: justify;
}
#best-jokes img {
  display: block;
  text-align: center;
  margin: 0 auto;
  width: 60%;
}
#who-we-are {
  background-color: #f6f6f6;
}
#who-we-are img {
  display: block;
  text-align: center;
  margin: 0 auto;
}
#join-crew {
  background: url("/images/meeting2.webp") fixed no-repeat;
  height: 400px;
  background-size: cover;
  background-color: white;
}
#join-crew .join-banner {
  position: relative;
  padding: 8px 12px;
  margin: 120px 0;
  left: 50%;
  color: #f6f6f6;
  display: inline-block;
  transform: translateX(-50%);
  background-color: #2196F3;
  border-radius: 8px;
  text-align: center;
}
#join-crew .join-banner h2,
#join-crew .join-banner p {
  padding: 0;
  margin: 0;
}
#intro-joke h1 {
  text-align: center;
}
#intro-joke p {
  text-align: justify;
}
#intro-joke p:first-child:first-letter {
  float: left;
  font-size: 60px;
  line-height: 40px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}
#maustreiber {
  background-color: #f6f6f6;
}
#maustreiber img {
  max-width: 350px;
}
#mauschiene {
  background-color: white;
}
#mauschiene h1 {
  text-align: center;
}
#mauschiene p {
  text-align: justify;
}
