{% extends '../layout.twig' %}

{% block content %}

    <section id="intro-joke">

        <div class="container">
            <h1>Die Mauschine schläft nicht, sie kühlt ab <img class="emote" src="/images/zayuDerp.webp" alt="zayuDerp">
            </h1>

            <div class="row">

                <div class="col-md-4 col-sm-6">
                    <p>
                        Die Mauschine wurde mitte der 90er Jahre konstruiert (Wichtig! Nicht geboren!). Dies hatte einen
                        so
                        einschneidenden Effekt, dass man die Epoche vor der Mauschinen Ära auch Mauerfall nennt.
                        Konstruiert wurde
                        die Mauschine von Mama <em>MaMauschine</em> Gaich. Eigentlich nicht in der Maurerzunft
                        ausgebildet war die Künsterlin
                        MaMauschine so stolz auf ihr Werk, dass sie eine Maulsperre vor Erstaunen bekam.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6">
                    <p>Die Mauschine entwickelt in der Zeit nach ihrer Konstruktion eine gesunde Liebe zu
                        <strike>Essen</strike> Treibstoff.
                        Unaufhörlich <strike>fraß</strike> tankte sie sich durch die Welt und wurde immer größer und
                        stärker. Was die Mauschine
                        <strike>konsumierte</strike> verheizte wurde später bekannt als <i>Mauerfraß.</i> <br> Die
                        Mauschine kann Unmengen
                        von Treibstoff verheizen, favorisiert jedoch das Blut ihrer eingemauerten Gegner in PUBG.
                    </p>
                </div>

                <div class="col-md-4 col-sm-6">
                    <p>
                        Der Mauschine geht es auf den <strike>Geist</strike> Motorblock wenn die Leute die
                        <strike>Twitch Beschreibung</strike> Bedienungsanleitung nicht lesen und offentsichtliche
                        Bedienfehler machen. Sie hat jedoch eine tapfere <strike>Mod Gemeinde</strike> Wartungscrew,
                        die sie immer auf dem neuesten Stand hält und vor den bösen <strike>Viewern</strike> Bedienern
                        beschützt.
                    </p>
                </div>

            </div>
        </div>

    </section>

    <section id="maustreiber">

        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12">
                    <h2>Der Maustreiber</h2>

                    <p>Die Aufgabe des Maustreiber ist es, Mau anzutreiben. Nicht zu verwechseln mit dem Treiber ein
                        Maus,
                        dem Treiber in Mau's Quidditch Team und dem Reiber von Maust aus World of Maucraft, ist der
                        Maustreiber etwas ganz besonderes.
                        Es ist die Essenz des fortlaufenden problemlosen Betriebs der Mauschine. Viele Wissenschaftler
                        haben
                        schon versucht, mehr über den Maustreiber herauszufinden und konnten bisher nur feststellen,
                        dass viel <strike>Herzblut</strike> Mauschinenöl erforderlich ist, damit die Mauschine auch noch
                        bis ans Ende aller Tage strahlt. Der Maustreiber ist dabei eine Mischung aus Mauschinenöl und
                        krassem Support der Liebhaber der Mauschine. Möge der Maustreiber für immer wachsen!</p>
                </div>

                <div class="col-md-4 col-sm-12">
                    <img src="/images/verfolgung.webp" alt="Antrieb">
                </div>
            </div>
        </div>

    </section>

{% endblock %}
